/*Design for Download page*/

h2 {
    font-family: Willincki;
}

#profile {
    height: 300px;
    margin: 50px 50px 0px 50px;
}

#aboutGame {
    display: flex;
    font-family: Nanda;
    color: white;
    font-size: 30px;
}

#dllink {
    font-size: 25px;
}

#dllink:hover {
    color: rgb(25, 146, 135);
}